%header.header
.wrapper
  = render "shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group= @group.name
        %ul.main-header__left-box__member-list
          Member :
          - @group.users.each do |user|
            %li.main-header__left-box__member-list__member= user.name
      / to do 選んだグループのチャット画面に遷移するようにする
      =link_to root_path do
        .main-header__edit-btn Edit
    .messages
      .message
        .upper-info.clearfix
          %p.upper-info__user ユーザネーム
          %p.upper-info__date 2019/03/20(Wed) 22:58:41
        %p.message__text こんにちは
      .message
        .upper-info.clearfix
          %p.upper-info__user ユーザネーム
          %p.upper-info__date 2019/03/20(Wed) 22:58:41
        %p.message__text はじめまして
      .message
        .upper-info.clearfix
          %p.upper-info__user ユーザネーム
          %p.upper-info__date 2019/03/20(Wed) 22:58:41
        %p.message__text さようなら
    .form
      = form_for @message, url: {action: :create}, html: { class: "new-message" } do |f|
        .input-box
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          %label.image-label{ for: "message_image" }
            %i.fa.fa-image
            = f.file_field :image, class: "image-label__input", id: "message_image"
        = f.submit "send", class: "new-message__submit-btn"
